{% extends 'BookBundle::adminLayout.html.twig' %}

{% block body %}
            
    <section class="events rounded">
        <a class="link" href="{{ path('book') }}">&larr; {% trans %}back to the books list{% endtrans %}</a>

       {{ datatable_render(datatable) }}
       
        
    </section>
    
{% endblock %}

