{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('book_admin') }}">&larr; {% trans %}back to the books list{% endtrans %}</a>
        </header>

        <article>
            
            <section>
                {# the opening <form> tag #}
                {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                    <dl>
                        <dt>{% trans %}Name{% endtrans %}:</dt>
                        <dd>
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                        </dd>
                        <dt>{% trans %}Genre{% endtrans %}:</dt>
                        <dd>
                            {{ form_errors(edit_form.genre) }}
                            {{ form_widget(edit_form.genre) }}
                        </dd>

                        <dt>{% trans %}Author{% endtrans %}:</dt>
                        <dd>
                            {{ form_errors(edit_form.author) }}
                            {{ form_widget(edit_form.author) }}
                        </dd>

                         <dt>{% trans %}Description{% endtrans %}:</dt>
                        <dd>
                            {{ form_errors(edit_form.description) }}
                            {{ form_widget(edit_form.description) }}
                        </dd>
                    </dl>
                {# the closing </form> tag #}
                {{ form_end(edit_form) }}

                {{ form(delete_form) }}
            </section>
        </article>
    </section>
{% endblock %}