{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}        
    <section class="events">
        
        <section class = "filterForm pull-right">
        {# the opening <form> tag #}
                {{ form_start(search_form) }}
                    {{ form_errors(search_form) }}
                     

                    <dl>
                        <dt>{% trans %}Name{% endtrans %}:</dt>
                        <dd>
                        {{ form_errors(search_form.name) }}
                        {{ form_widget(search_form.name) }}
                        </dd>
                        <dt>{% trans %}Genre{% endtrans %}:</dt>
                        <dd>
                            {{ form_errors(search_form.genre) }}
                            {{ form_widget(search_form.genre) }}
                        </dd>

                        <dt>{% trans %}Author{% endtrans %}:</dt>
                        <dd>
                            {{ form_errors(search_form.author) }}
                            {{ form_widget(search_form.author) }}
                        </dd>

                        
                    </dl>
                    
                {# the closing </form> tag #}
                     {{ form_end(search_form) }}
                 <a href="{{ path('book') }}" class="clearForm">{% trans %}Clear{% endtrans %}</a>
          
        </section>
        <section class="centerBlock pull-left">
             {% for book in pagination %}
                <article>
                    
                    <section>
                        
                         <h3>
                            <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.name }}</a>
                        </h3>
                        <dl>
                           
                            <dt>{% trans %}Genre{% endtrans %}:</dt>
                            <dd>{{ book.genre.name }}</dd>
                            
                            <dt>{% trans %}Author{% endtrans %}:</dt>
                            <dd>{{ book.author.name }}</dd>
                            
            
                            {% include "WTFCartBundle:Cart:button.html.twig" with {'itemId' : book.id} %}
                        </dl>
                    </section>
                </article>
            {% endfor %}     

            
        </section>
        <div class="clearfix"></div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        
    </section>
    
{% endblock %}

