{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('book') }}">&larr; {% trans %}back to the books list{% endtrans %}</a>
        </header>

        <article>
            <section>
                {# the opening <form> tag #}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                     

                    <dl>
                        <dt>Имя:</dt>
                        <dd>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        </dd>
                        <dt>Жанр:</dt>
                        <dd>
                            {{ form_errors(form.genre) }}
                            {{ form_widget(form.genre) }}
                        </dd>

                        <dt>Автор:</dt>
                        <dd>
                            {{ form_errors(form.author) }}
                            {{ form_widget(form.author) }}
                        </dd>

                        <dt>Описание:</dt>
                        <dd>
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description) }}
                        </dd>
                    </dl>

                {# the closing </form> tag #}
                {{ form_end(form) }}
            </section>
        </article>
    </section>
{% endblock %}