{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}
    <section class="event-show">
        <header id="menu">
            <a class="link" href="{{ path('book') }}">&larr; {% trans %}back to the books list{% endtrans %}</a>
        </header>

        <article>
           
            <section>
                <dl>
                    <dt>{% trans %}Name{% endtrans %}:</dt>
                    <dd>{{ entity.name }} </dd>
                    <dt>{% trans %}Genre{% endtrans %}:</dt>
                    <dd>{{ entity.genre.name }}</dd>

                    <dt>{% trans %}Author{% endtrans %}:</dt>
                    <dd>{{ entity.author.name }}</dd>

                    <dt>{% trans %}Description{% endtrans %}:</dt>
                    <dd>{{ entity.description }}</dd>

                      
                </dl>
                {% include "WTFCartBundle:Cart:button.html.twig" with {'itemId' : entity.id} %}                
            </section>
        </article>
    </section>
{% endblock %}
