<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8" />
        <title>
             {%- if block('title') -%}
                {{ block('title') }} | Книги
            {%- else -%}
                Купить книги
            {%- endif -%}
        </title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/book/css/event.css'
                'bundles/book/css/events.css'
                'bundles/book/css/main.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
                <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
            <script src="{{ asset('bundles/stingermomentjs/js/moment.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header id="menu">
        {% block header %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
            {% else %}
                <a class="link" href="{{ path('user_register') }}">{% trans %}Register{% endtrans %}</a>
                <a class="link" href="{{ path('login_form') }}">{% trans %}Login{% endtrans %}</a>
            {% endif %}
        {% endblock %}
        </header>
             
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
        
    </body>
    
</html>
