.events {
    max-width: 980px;
    float: right;
    margin: 0 75px 0 0;
}

.events article {
    margin-bottom: 20px;
    float: left;
    margin-right: 25px;
}

.events article .map-container {
    float:left;
    width:150px;
    height:150px;
    overflow:hidden;
    background:#fff;
    border:4px solid #fff;

    -webkit-border-radius:75px;
       -moz-border-radius:75px;
            border-radius:75px;
    -webkit-box-shadow:0px 0px 5px #ccc;
            box-shadow:0px 0px 5px #ccc;
}

.events article .map-container img {
    width:150px;
    height:150px;

    -webkit-border-radius:75px;
       -moz-border-radius:75px;
            border-radius:75px;
}

.events article section {
    margin-top:22px;
    width:315px;
    min-height:94px;
    padding:10px;
    float:right;
    background:#fff;
    position:relative;

    -webkit-border-radius:5px;
           -moz-border-radius:5px;
                border-radius:5px;

    -webkit-box-shadow:0px 0px 2px #ccc;
            box-shadow:0px 0px 2px #ccc;
}

.events article section:after {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:35px;
    left:0px;

    width:30px;
    height:40px;
    background:#fff;
}

/*.events article section:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:40px;
    left:-15px;

    width:30px;
    height:30px;
    background:#fff;

    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);

    -webkit-box-shadow:0px 0px 2px #ccc;
            box-shadow:0px 0px 2px #ccc;
}*/

.events article section * {
    z-index:2;
    position:relative;
}

.events article section h3 {
    margin:0px;
    padding:0px;
    border-bottom:1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.events article section h3 a {
    color:#666666;
    font-family:Tahoma;
    font-weight:normal;
    font-size:20px;
    text-decoration:none;

    display:block;
    height:28px;
    padding-top:2px;
}

.events article section h3 a:hover {
    color:#260907;
}

.events article section dl {
    margin-top:8px;
    margin-bottom:0px;
    font-family:Tahoma;
    font-size:12px;
}

.events article section dl dt {
    width:60px;
    float:left;
    font-weight:bold;
    margin-bottom:3px;
}

.events article section dl dd {
    width:440px;
    margin-left:60px;
    margin-bottom:3px;
}

.filterForm{
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
}

.filterForm input[type="text"],.filterForm select{
    border: 1px solid #ccc;
    padding: 5px;
    width: 235px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.filterForm button[type=submit]{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}

a.clearForm{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;

}

a.clearForm:hover{
    text-decoration: none;
    color: #fff;
}

.centerBlock{
    max-width: 685px;;
}
