body {
        background: #008ACB;
    
}

#menu {
    height: 40px;
    margin-bottom: 30px;
    padding-left: 162px;
    text-align: right;
    padding: 10px;
}

#menu a.link {
    color:#fff;
    font-size:18px;
    font-family:Arial;
    padding:0px 4px;
    position:relative;
    text-decoration:none;
}

/*#menu a.link:after {
    content:'/';
    position:absolute;
    right:-4px;
    top:0px;
    color:#ccc;
}*/

#menu a.link:last-child:after {
    display:none;
}

#menu a.link:hover {
    text-decoration:none;
    color:#0ebb0e;
}

#menu a.button {
    font-size:24px;
    padding:10px 15px;
}

.button {
    font-family:Arial;
    background:#fff;
    border:1px solid #ccc;
    text-decoration:none;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fff;
	border: solid 1px #333;
    background: #363636;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#151515));
	background: -moz-linear-gradient(top,  #5b5b5b,  #151515);

    border-radius:25px;
}

.button:hover {
	text-decoration: none;
    color: #0ebb0e;
}

.button:active {
    background: #363636;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#151515));
	background: -moz-linear-gradient(top,  #5b5b5b,  #151515);
	position: relative;
}

.cartBlock{
    width: 235px;
    background: #F0F0F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0px 0px 2px #ccc;
    padding: 10px;
    margin: 10px;
    float: left;
}

.wtf-cart-list-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.wtf-cart-list-item a{
    position: absolute;
    left: 214px;
}



.bg-color{
    background: #008ACB;
}

.rounded{
    
    padding: 10px;
    
    background: #fff;
   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0px 0px 2px #ccc;
}

.addCartItem{
    color: green;
    font-size: 18px;
    margin: 0 7px 0 13px;
}

.removeCartItem{
    
    color: red;
    font-size: 18px;
}
#notification {
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.note_message{
    background-color: #000;
    opacity: .85;
    width: 230px;
    color: #fff;
    padding: 19px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}