{% extends '::base.html.twig' %}

{% block title 'Books' %}
{% block header %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_ADMIN') %}
                            <a class="link" href="{{ path('book_admin') }}">{% trans %}Admin{% endtrans %}</a>
                        
            {% endif %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
{{ render(controller("WTFCartBundle:Cart:cart")) }}  
<div id="notification">
        <div id="note_anchor"></div>
</div>
{% endblock %}