{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('author') }}">&larr; back to the event list</a>
            <a class="link" href="{{ path('author_show', {'id': entity.id}) }}">show event</a>
        </header>

        <article>
            
            <section>
                {# the opening <form> tag #}
                {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                    <dl>
                        <dt>Имя:</dt>
                        <dd>
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                        </dd>
                    </dl>
                {# the closing </form> tag #}
                {{ form_end(edit_form) }}

                {{ form(delete_form) }}
            </section>
        </article>
    </section>
{% endblock %}