{% extends 'BookBundle::layout.html.twig' %}

{% block body %}

    <section class="event-show">
        <header id="menu">
            <a class="link" href="{{ path('author') }}">&larr; back to the events list</a>
        </header>

        <article>
           
            <section>
                <dl>
                    <a class="button" href="{{ path('author_edit', {'id': entity.id}) }}">Редактировать</a>
                    <dt>Имя:</dt>
                    <dd>{{ entity.name }} </dd>
                    
                </dl>
            </section>
        </article>
    </section>
{% endblock %}
{% block javascripts %}
   
{% endblock %}