{% extends 'BookBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('genre_new') }}">Create new event</a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="link" href="{{ path('login_form') }}">Login</a>
            {% endif %}
            {% for entity in entities %}
                <article>
                    <section>
                        <h3>
                            <a href="{{ path('genre_show', {'id': entity.id}) }}">{{ entity.name }}</a>
                        </h3>
            
                        <dl>
                            <dt>Имя:</dt>
                            <dd>{{ entity.name }}</dd>
                        </dl>
                    </section>
                </article>
            {% endfor %}            

            
        </header>
    </section>
{% endblock %}