{% extends 'BookBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('genre') }}">&larr; back to the book list</a>
        </header>

        <article>
            <section>
                {# the opening <form> tag #}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                     

                    <dl>
                        <dt>Имя:</dt>
                        <dd>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        </dd>
                    </dl>

                {# the closing </form> tag #}
                {{ form_end(form) }}
            </section>
        </article>
    </section>
{% endblock %}